@font-face{
    font-family: "Fira Sans";
    src: url("../fonts/FiraSans-Light.eot") format("embedded-opentype");
    src: local("Fira Sans Light"),
         url("../fonts/FiraSans-Light.eot") format("embedded-opentype"),
         url("../fonts/FiraSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: "Fira Sans";
    src: url("../fonts/FiraSans-Regular.eot") format("embedded-opentype");
    src: local("Fira Sans Regular"),
         url("../fonts/FiraSans-Regular.eot") format("embedded-opentype"),
         url("../fonts/FiraSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
