
.tracking-view ul {
  margin-left: 5%;
  margin-right: 5%;
  height: 100%
}

.tracking-view ul li {
  width: calc(50% - 1px);
  min-height: 29%;
  float: left;
}

.tracking-view ul li:first-child,
.tracking-view ul li.button {
  width: 100%;
}

.tracking-view ul li.button {
  text-align: center;
}
.icon-pause {
  background-color: #00caf2;
  color: #fff;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
